<div class="container">
  <div class="back-button">
    <button type="button" id="back" (click)="goBack()">
      <i class="material-icons" >arrow_back</i>
      Back
    </button>
  </div>
  <div class="content">
    <form method="post" #addItemForm="ngForm" (ngSubmit)="addItem(addItemForm)">
      <div class="input-field">
        <h2>Add New Item*</h2>
        <input
          required
          ngModel
          class="inputs"
          type="text"
          name="name"
          id="name"
          #name="ngModel"
          placeholder="Item Name"
        />
        <input
          required
          ngModel
          class="inputs"
          type="number"
          name="startBid"
          id="startBid"
          #startBid="ngModel"
          placeholder="Starting bid"
        />
        <input
          required
          ngModel
          class="inputs"
          type="datetime-local"
          name="bidTime"
          id="bidTime"
          #bidTime="ngModel"
          placeholder="Bid time"
        />
        <textarea
          required
          ngModel
          class="inputs"
          type="text"
          name="description"
          id="description"
          #description="ngModel"
          placeholder="Description"
        ></textarea>
        <input
          required
          ngModel
          class="inputs"
          type="text"
          name="category"
          id="category"
          #category="ngModel"
          placeholder="Category"
        />

        <button type="submit" class="buttons" id="save" placeholder="Save">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
