<div class="container" *ngIf="selectedItem">
  <div class="sub-container">
    <div class="heading">
      <p>SETTINGS</p>
      <h1>Configure the Auto-bidding</h1>
    </div>
    <div class="section">
      <h4>Maximum bid amount</h4>
      <p>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum" by Cicero are also
      </p>
    </div>
    <div class="section">
      <input 
      type="number" 
      name="bid-amount" 
      id="bid-amount" 
       placeholder={{currentAmount}}
      [(ngModel)]="biddingAmount" 
      [value]="currentAmount"
      >
    </div>
    <div class="section">
        <h4>Bid Alert notification</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
    </div>
    <div class="section">
        <input 
        type="number" 
        name="bid-alert" 
        id="bid-alert" 
        class="bit-alert" 
        placeholder= {{currentPercentage}}%
        [(ngModel)]="biddingPercentage"
        [value]= currentPercentage
        
        />
    </div>
    <div class="section">
        <button  (click)="settingBiddingAmount()">Save</button>
    </div>
  </div>
</div>
