<div class="container" *ngIf="selectedItem">
  <div class="sub-container">
    <div class="heading">
      <p>SETTINGS</p>
      <h1>Configure the Auto-bidding</h1>
    </div>
    <div class="section">
      <h4>Maximum bid amount</h4>
      <p>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum" by Cicero are also
      </p>
    </div>
    <form #autoBidding="ngForm" method="post" (ngSubmit)="settingBiddingAmount(autoBidding)">
      <div class="section">

        <label for="bid-amount">Auto Bid Budget</label>
        <input 
        type="number" 
        name="bid-amount" 
        id="bid-amount" 
        placeholder= "$ {{currentAmountBudget}}"
        ngModel
        #currentAmount ="ngModel" 
        [value]="currentAmountBudget"
        >
      </div>
      <div class="section">
          <h4>Bid Alert notification</h4>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      </div>
      <label for="bid-alert">Percentage</label>
      <div class="section">
          <input 
          
          type="number" 
          name="bid-alert" 
          id="bid-alert" 
          class="bit-alert"
          ngModel
          #currentBidPercentage ="ngModel" 
          placeholder= "{{currentPercentageSet}} %" 
          [value]="currentPercentageSet"
          />
      </div>
      <div class="section">
          <button  type="submit">Save</button>
      </div>

    </form>
  </div>
</div>
