<nav class="nav-container">
  <div class="section">
    <h2>Filters</h2>
  </div>
  <div class="section">
    <p>Arrange</p>
    <select name="filter" id="filter">
      <optgroup>
        <option value="popular">Popular</option>
        <option value="recent">Recent</option>
        <option value="old">Old</option>
      </optgroup>
    </select>
  </div>
  <div class="section">
    <p>Minimal bid</p>
    <input 
      aria-valuetext="rangeValue.value"
      type="range"
      name="minimal-bit"
      id="minimal-bit" 
      min="0" 
      [defaultValue]="rangeValue.value"
      max="1000"
      step="10" 
      value="rangeValue.value"
      #rangeValue 
      (change)="getRangeValue(rangeValue.value)"/>
  </div>
  <div class="section" >
    <p>Category</p>
      <ul >
        <li>
          <input  
          #furniture 
          type="checkbox" 
          name="furniture" 
          id="furniture" 
          [checked]=""
          (change)="shareState(furniture.checked, furniture.id)"
          /> Furniture
        </li>
        <li>
          <input 
          type="checkbox" 
          name="cutlery" 
          #cutlery
          id="cutlery"  
          (change)="shareState(cutlery.checked, cutlery.id)"
          /> Cutlery
        </li>
        <li>
          <input type="checkbox" name="category3" id="category3" /> Category 03
        </li>
        <li>
          <input type="checkbox" name="category4" id="category4" /> Category 04
        </li>
        <li>
          <input type="checkbox" name="category5" id="category5" /> Category 05
        </li>
        <li>
          <input type="checkbox" name="category6" id="category6" /> Category 06
        </li>
      </ul>
  </div>
</nav>
