<nav class="nav-container">
  <div class="section">
    <h2>Filters</h2>
  </div>
  <div class="section">
    <p>Arrange</p>
    <select
     name="filter" id="filter">
      <optgroup>
        <option value="popular">Popular</option>
        <option value="recent">Recent</option>
        <option value="old">Old</option>
      </optgroup>
    </select>
  </div>
  <div class="section">
    <p>Minimal bid: {{rangeValue.value| currency}}</p>
    <input
      aria-valuetext="rangeValue.value"
      type="range"
      name="minimal-bit"
      id="minimal-bit"
      min="0"
      max="1000"
      step="10"
      value="rangeValue.value"
      matTooltip = "rangeValue.value"
      #rangeValue
      (change)="getRangeValue(rangeValue.value)"/>
  </div>
  <div class="section" >
    <p>Category</p>
      <ul >
        <li>
          <input
          #furniture
          type="checkbox"
          name="furniture"
          id="furniture"
          (change)="shareState(furniture.checked, furniture.id)"
          /> Furniture
        </li>
        <li>
          <input
          type="checkbox"
          name="cutlery"
          #cutlery
          id="cutlery"
          (change)="shareState(cutlery.checked, cutlery.id)"
          /> Cutlery
        </li>
      </ul>
  </div>
</nav>
